extends layout.pug
    
block content
    .container
        h1 Analysis of TypeScript
        hr
        p   **Make sure to back you're opinion w/ evidence
        p
            |Kai:
        hr
        p
            |Isaac:
        hr
        p
            |Anthony:
        hr
        p
            |Team-Analysis:
