extends layout.pug
    
block content
    .container
        h1 TypeScript History:

        p
         |After Microsoft engineers spent over two years of implementation, TypeScript was first unveiled in October 2012 (version 0.8). 
         a(href='https://www.infoworld.com/article/2614863/microsoft-augments-javascript-for-large-scale-development.html') [1]

        p 
         |In 2013, TypeScript 0.9 released. Added support for generics.
         a(href='https://www.theregister.com/2013/06/18/typescript_update_0_9/') [2]

        p 
         |In 2014, TypeScript 1.0 released. As an npm package and source on Visual Studio 2013.
         a(href='https://devblogs.microsoft.com/typescript/announcing-typescript-1-0/') [3]

        p 
         |On 22nd September 2016, TypeScript reaches version 2.0. TypeScript 2.0 brings a range of new features, the biggest one is allowing control over null values.
         a(href='https://arstechnica.com/information-technology/2016/09/typescript-microsofts-javascript-for-big-applications-reaches-version-2-0/') [4]

        p 
         |On 30th July 2018, TypeScript reaches version 3.0. TypeScript 3.0 introduces a new concept of project references. 
         a(href='https://devblogs.microsoft.com/typescript/announcing-typescript-3-0/') [5]
        
        p 
         |On 20th August 2020, TypeScript reaches version 4.0. Added some language features.
         a(href='https://devblogs.microsoft.com/typescript/announcing-typescript-4-0/') [6]
