extends layout.pug 

block content
    .container
        h1 Learning Objectives:
        ul
            li You'll learn the difference between a strongly typed object oriented compiled language that is TypeScript, compared to a light weight language like JavaScript. 
            li You'll learn the concepts of data-binding like types and interface that are used by TypeScript.
            li You'll learn the pre-compiled nature of TypeScript, which converts to JavaScript
            li You'll learn the limitless behavior of arguments in TypeScript, unlike JavaScript.
            li Add more...?
