extends layout.pug 

block content
    .container
        h1 Learning Objectives

        img(src='/images/JSvsTS.png' alt='JSvsTS' style='width:480px; height:240px;')

        p

        p
            |TypeScript defines itself as a strict syntactical superset of the JavaScript language. 
            |This means that all JavaScript code is valid TypeScript code, but TypeScript has a few extra bells and whistles that are unique to it.
            a(href='https://www.kirupa.com/hodgepodge/learning_typescript.htm') [1]
        p   Before we jump into the tutorial, here is a list of learning objectives:

        ul
            hr
            li You'll learn the difference between a strongly typed object oriented compiled language that is TypeScript, compared to a light weight language like JavaScript. 
            hr
            li You'll learn the strongly type concepts such as Variable Assignment, Type Narrowing, and robust/earlier error handling.
            hr
            li You'll learn the concepts of data-binding like types and interface that are used by TypeScript.
            hr
            li You'll learn the pre-compiled nature of TypeScript, which converts to JavaScript
            hr
            li You'll learn the limitless behavior of arguments in TypeScript, unlike JavaScript.
            hr
        p
            |
            |
            |[1] Chinnathambi, K. (n.d.). Does learning typescript today make sense? kirupa.com.