extends layout.pug 

block content
    .container
        h1 Learning Objectives:
        ul
            li Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum eveniet magnam mollitia dolorem molestiae maxime consequatur unde eligendi fugit nemo?
                ul 
                    li Lorem ipsum dolor sit amet.
                    li Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore!
            li Lorem ipsum dolor sit amet consectetur adipisicing elit. At, voluptates possimus? Voluptatibus vero accusamus magni!
            li Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque commodi adipisci praesentium, sapiente pariatur in doloremque eius blanditiis corporis. Voluptates voluptatem sint possimus maxime, ullam pariatur nobis!