extends layout.pug 

block content
    .container 
        h1 Tutorial 
        ol 
            li
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis doloribus modi laboriosam, non minus sapiente labore repudiandae veniam neque eius?
            li
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Est voluptas quidem et velit, mollitia neque.